{% extends "main_template.twig" %}


{% block content %}
    <section id="Content" class="content">
        <h1>500 internal server error!</h1>
        <p>
            Don't worry, we got this incident logged and ready for inspection!

        </p>
    </section>

{% endblock %}