{% extends "main_template.twig" %}

{% block content %}

    <div id="Content">
        <div class="editable content" data-id="main">
            {% page_content 'main' %}
        </div>
        {% if has_page_privileges %}
            <div class="suggestion">
                You are logged in! Double click the text above to edit!
            </div>
        {% endif %}
    </div>

{% endblock %}